/* blog */
.modal-content  {
    width: 80%;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.article-form {
    margin-left: 8%;
    margin-right: 8%;
}

.edit-buttons {
    margin-top: 1%;
    margin-bottom: 1%;
}

.blog-header {
    display: block;
    text-align: center;
}

.blog-header h1 {
    /*margin-left: 33%;*/
}
.btn-light {
    margin-top: 2%;
}
#blog{
    background-color: #aecfa7;
    color: white;
    margin-top: -8%;
}
.content {
    margin-top: 5%;

}
#blog h1{
    text-align: center;
    font-size: 5em;
    padding-top: 5%;
}

#blog .clanok{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-wrap: wrap; /*ulozenie text obrazok*/
}
.article-body {
    margin-top: 5%;
    width: 100%;
    display: flex;
}
#blog .text{
    width: 80%;
    /*padding-left: 10%;*/
}

#blog .obr{
    width: 20%;
    margin-top: 1%;
}

#blog img{
    border-radius: 10%;
    width: 100%;
   /* width: 50%;*/
}

#blog p{
    margin: 0;
}



.text a{
    color: white;
    text-decoration: none;
}
.blog-header h1:hover {
    color: mediumseagreen;
}

.text a:hover{
    color: salmon;
    font-size: larger;
}

.obr :last-child{
    margin-bottom: 10%;
}

#section-foundres .text {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
#section-foundres h1{
    font-size: 4em;
}

#section-foundres{
    background-color: darksalmon;
    text-align: center;
    padding-top: 2%;
    margin-top: 2%;
}

#section-foundres .text{
    width: 100%;
    display: flex;
}

#section-foundres .box{
    width: 25%;
    padding-left: 6%;
}

#section-foundres img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
}

#section-foundres .position-text {
    opacity: 0;
    text-align: center;
}

#section-foundres .box:hover img {
    opacity: 0.3;
}

#section-foundres .box:hover .position-text {
    opacity: 1;
}

#section-foundres .name {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

#section-foundres h1 {
    color: white;
}

/*bootstrap-----------------------------------*/
/*delete window*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: silver;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
