/* blog  css */
.modal-content  {
    width: 80%;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

#blog{
    background-color: #aecfa7;
    color: white;
    margin-top: -8%;
}
.content {
    margin-top: 5%;

}
.blog-header h2{
    text-align: center;
    font-size: 5em;
    padding-top: 5%;
}
.blog-header {
    display: block;
    text-align: center;
}

/*articles */
.article-form {
    margin-left: 8%;
    margin-right: 8%;
}

.edit-buttons {
    margin-top: 1%;
    margin-bottom: 1%;
    display: inline-flex;
}

.buttonFrom {
    width: 90px;
    margin-right: 2px;
}
.edit-buttons .btn-primary {
    width: 100%;
}

.btn-light {
    margin-top: 2%;
}

#blog .clanok{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-wrap: wrap; /*ulozenie text obrazok*/
}
.article-body {
    margin-top: 5%;
    width: 100%;
    display: flex;
}
#blog .text{
    width: 80%;
    /*padding-left: 10%;*/
}

#blog .obr{
    width: 20%;
    margin-top: 1%;
}

#blog img{
    border-radius: 10%;
    width: 100%;
   /* width: 50%;*/
}

#blog p{
    margin: 0;
}

.text a{
    color: white;
    text-decoration: none;
}
.blog-header h2:hover {
    color: mediumseagreen;
}

.text a:hover{
    color: salmon;
    font-size: larger;
}

.obr :last-child{
    margin-bottom: 10%;
}
/* foundres */

#section-foundres h2{
    text-align: center;
    font-size: 4.5em;
    padding-top: 2%;
    padding-bottom: 2%;

}

#section-foundres .text {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}


#section-foundres{
    background-color: darksalmon;
    text-align: center;
    padding-top: 2%;
    margin-top: 2%;
}

#section-foundres .text{
    width: 100%;
    display: flex;
    font-size: xx-large;
}

#section-foundres .box{
    width: 25%;
    padding-left: 6%;
}

#section-foundres img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
}

#section-foundres .position-text {
    opacity: 0;
    text-align: center;
}

#section-foundres .box:hover img {
    opacity: 0.3;
}

#section-foundres .box:hover .position-text {
    opacity: 1;
}

#section-foundres .name {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

#section-foundres h2 {
    color: white;
}

/* responsive design */
@media  screen and (max-width: 576px) {

    .edit-buttons {
        padding-left: 17%;
    }

    #blog .blog-header h2 {
        font-size: xx-large;
    }

    #section-foundres h2 {
        font-size: xx-large;
    }

    #blog .text {
        text-align: center;
    }

    #blog .text a {
        font-size: large;
    }

    #blog .text p {
        font-size: smaller;
    }

    #blog .clanok {
        margin-left: 0;
        margin-right: 0;
    }

    #blog .obr {
        width: 70%;
        height: 20%;
        text-align: center;
    }

    #blog img {
        margin-left: 1%;
        width: 70%;
    }

    .article-body {
        display: block;
        text-align: -webkit-center;
    }

    #section-foundres h2 {
        font-size: 1.5em;
    }

    .content {
        margin-left: 10%;
        margin-right: 10%;
    }

    #section-foundres .text {
        display: block;
        margin-left: 17%;
        margin-top: 5%;
    }

    #section-foundres .box {
        width: 60%;
    }
}



/*bootstrap-----------------------------------*/
/*delete window*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: silver;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
