#section-home {
    background: url("../images/main_pic.jpg") center 	 no-repeat;
    height: 362px;
    background-size: cover;
}

.post-title	{
    margin-top: 5%;
    color: white;
    font-size: 2em;
    background: coral;
    padding: 20px 45px;
    border-radius: 10px;
    display: inline-block;
    text-transform: uppercase;
}


.quote-background {
    width: 100%;
}


.quote{
    margin-top: 20%;
}

blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 4em;
    text-align: center;
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
    margin: 0;
}
